<%= render 'layouts/slide' %>

<div class="container-inner">
  <div id="slides_four">
    <h3><%= link_to "Top 25 Trailers", "#", class: "link_header" %></h3>
    <div class="slides_container">
      <%= render 'layouts/slidetop', videos: @top_videos %>
    </div>
    <a href="#" class="prev"></a>
    <a href="#" class="next"></a>
  </div>

  <div id="slides_five">
    <h3><%= link_to "Recently Added", "#", class: "link_header" %></h3>
    <div class="slides_container">
      <%= render 'layouts/slidemini', videos: @recent_videos %>
    </div>
    <a href="#" class="prev"></a>
    <a href="#" class="next"></a>
  </div>
</div>