<div id="search-bar">
  <div id="search-summary">
    <h2>Search results for "<%= @query %>"</h2>
    <%= link_to "Advanced Search", "#", :class => "fancybox" %>
  </div>
  <div id="search-bar-divider"></div>
</div>

<div style="display:none">
  <div id="inline">
    <%= render "layouts/form" %>
  </div>
</div>

<div class="search-results">
  <ul class="thumbnails">
    <% @videos.each do |video| %>
      <li class="span3">
        <a href="<%= video.youtube_url %>" class="youtube_link thumbnail">
          <img src="<%= video.thumb_url %>">
          <p><%= video.get_title %></p>
        </a>
      </li>
    <% end %>
  </ul>
</div>