<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "colights", root_path, class: 'brand' %>
      <div class="nav-collapse collapse navbar-inverse-collapse">
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Browse
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Action", view_videos_path(:genre => "Action") %></li>
              <li><%= link_to "Documentary", view_videos_path(:genre => "Documentary") %></li>
              <li><%= link_to "Adventure", view_videos_path(:genre => "Adventure") %></li>
              <li><%= link_to "Family", view_videos_path(:genre => "Family") %></li>
              <li><%= link_to "Sport", view_videos_path(:genre => "Sport") %></li>
            </ul>
          </li>
        </ul>
      </div>
      <form class="pull-left navbar-search" action="/search">
        <input type="text" class="input-large search-query" name="q">
      </form>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
          <li><%= link_to "Upload Video", "#", class: "fancybox" %></li>
          <li><%= current_user.name %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign in with Youtube", user_omniauth_authorize_path(:youtube) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>