<!DOCTYPE html>
<html>
<head>
  <title>Colights</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script>
    $(function(){
      $("#slides").slides({
        preload: true,
        preloadImage: '/assets/img/loading.gif',
        play: 3000,
        pause: 2500,
        hoverPause: true
      });
      $('#slides_two').slides({
        generatePagination: false
      });
    });
  </script>
</head>
<body>
  <%= render 'layouts/header' %>
  <section class="container">
    <%= yield %>
  </section>

</body>
</html>
